.hero-image{
    transform: rotate(-17deg);
}

.hero-content>div> h2{
    font-size: 2.81em;
    font-family: poppins-bold;
    line-height: 1.01em;
}

.hero-content{
    display: flex;
}


.hero-buttons-cont{
    margin-top: 1.31em;
}

.hero-buttons{
    border-radius: 1.6em;
    padding:0.6em 1em;
    font-family: poppins-bold;
    color:rgba(238, 238, 238, 1);
    border:none;
    font-size: 0.9em;
    line-height: 1rem;
}

.hire-me{
    background-color: rgba(0, 173, 181, 1);
    border: 3px solid transparent;
    cursor: pointer;
  
}

.hire-me:hover{
    transition: all .2s;
    border: 3px solid white;
}

.download-cv{
    background-color: rgba(57, 62, 70, 0.75);
    margin-left: 0.7em;
    border: 3px solid transparent;
    cursor: pointer;
    display: inline-block;
}

.download-cv:hover{
    transition: all .2s;
    border: 3px solid white;
}

.over-flow-hidden{
    overflow: hidden;
}

.hero-content>div> h2{
    font-size: 2.81em;
    font-family: poppins-bold;
    line-height: 1.01em;
}

.hero-content{
    display: flex;
}

.width-100pc{
    width: 100%;
}

.color-blue{
    color:rgba(0, 173, 181, 1);
}

.arrow-down{
    padding: 1.9vw 3.5vw;
    background-color: rgba(57, 62, 70, 0.75);
    margin-top: -2.9em;
    margin-bottom: 3.75em;
    display: inline-block;
    transform: translate(-50%,0);
    margin-left: 50%;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.arrow-down:hover{
    border:2px solid white;
    transition: all 0.2s;
}

.arrow-down>img{
    width: 2.8vw;
}

@media (min-width: 750px) {
    .hero-section{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 3vw;
    }

    .hero-content{
        font-size: 2.2vw;
        align-self: start;
        margin-top: 3vw;
    }

    .hero-content > img{
        height: 17vw;
    }
    
    .hero-image{
        transform: unset;
    }
}


@media (min-width: 240px) {
    header {
      font-size: 6.66vw;
    }
  }
  @media (min-width: 400px) {
    header {
      font-size: 5vw;
    }
  }
  @media (min-width: 500px) {
    header {
      font-size: 4.5vw;
    }
  }
  @media (min-width: 600px) {
    header {
      font-size: 3.5vw;
    }
  }
  @media (min-width: 700px) {
    header {
      font-size: 3vw;
    }
  }
  @media (min-width: 750px) {
    .hero-section{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 3vw;
    }

    .hero-content{
        font-size: 1.8vw;
        align-self: start;
        margin-top: 3vw;
        width: 31vw;
    }

    .hero-content > img{
        height: 17vw;
    }
    
    .hero-image{
        transform: unset;
    }

    .width-100pc{
        width: 41vw;
        height: 43vw;
    }
  }
  @media (min-width: 1150px) {
  }
  @media (min-width: 1240px) {
  }
  